@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    PRN211_M4 ,Group1 : <br />
    <span>Lê Thanh Tùng</span><br />
    <span>Lê Nhật Tân</span><br />
    <span>Trịnh	Hoàng Anh</span><br />
    <span>Lê Khả Chính</span><br />
    <span>Phạm Quốc Hưng</span><br />

</p>
